<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Welcome View]</title>
</head>
<body>
	<!-- This is views/created.ejs -->
		Successfully created new person:
	<p>
		<b>Name:</b> <%= person.name %>
	<br>
		<b>Age:</b> <%= person.age %>
	<br>
		<a href='/public/personform.html'>Create New Person</a> 
	<br>
		<a href='/all'>Show All</a>
</body>
</html>