<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Update Person</title>
</head>
<body>
	<form action='/update' method='post'>
		Name: <%= person.name %>
		<br>
		<input name='username' value='<%= person.name %>' hidden> 
		Age: <input name='age' value='<%= person.age %>'>
		<input type='submit' value='Update'>
	</form>
	<br>
	<a href='/public/personform.html'>Create New Person</a> 
	<br><br>
	<a href='/all'>Show All</a>
</body>
</html>