<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Update Person</title>
</head>
<body>
	<!-- This is views/updated.ejs -->
	Updated <%= person.name %>'s age to <%= person.age %>
	<br><br>
	<a href='/public/personform.html'>Create New Person</a> 
	<br>
	<a href='/all'>Show All</a>
</body>
</html>