<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Welcome View]</title>
</head>
<body>
	<h1>Welcome, <%= username %>!</h1>
	<% if (isAdmin) { %>
		<p> Remember to check your email every 24 hours! </p> 
	<% } %>
</body>
</html>